.header {
  text-align: center;
  font-weight: bold;
}

.label {
  border: 2px solid black;
  padding: 3px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.label-input {
  width: 75%;
}

.button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  /* margin-bottom: 10px; */
}

